<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <link rel="stylesheet" href="containerform.css">
</head>

<body>
    <div class="dropdown">
        <span>Menu</span>
        <div class="dropdown-content">
          <a href="#">Item</a>
          <a href="#">Item 2</a>
          <a href="#">Item 3</a>
        </div>
      </div>
    <h1>Select the Product</h1>
    <div class="products">
      <div class="product">
        <i class="fa-solid fa-car"></i>
        <span>Cars</span>
        <i class="fa-solid fa-angles-right"></i>
      </div>
      <div class="product">
        <i class="fa-solid fa-motorcycle"></i>
         <span>  MoterCycles</span>
        <i class="fa-solid fa-angles-right"></i>
      </div>
      <div class="product">
        <i class="fa-solid fa-mobile"></i>
            <span>Moblies</span>
        <i class="fa-solid fa-angles-right"></i>
      </div>
      <div class="product">
        <i class="fa-solid fa-camera-retro"></i>
        <span>Camera & Lenses</span>
        <i class="fa-solid fa-angles-right"></i>
      </div>
      <div class="product">
        <i class="fa-solid fa-laptop"></i>
        <span>Laptops and Computers</span> 
        <i class="fa-solid fa-angles-right"></i>
      </div>
      <div class="product">
        <i class="fa-solid fa-tablet"></i>
        <span>Tablets</span>
        <i class="fa-solid fa-angles-right"></i>
      </div>
    </div>
</body>
</html>