
.headerParentDiv {
  background-color: #555;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.headerChildDiv {
  padding: 7px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.brandName{
  margin-left: 10px;
  width: 70px;
}
.productSearch {
  height: 38px;
  margin-left: 100px;
  width: 400px;

}
.productSearchMl {
  height: 38px;
  margin-left: 10px;
  width: 400px;

}
.searchIcon svg{
  fill: black;
  transition: 0.4s;
}
.searchIcon:hover svg {
  fill: red;
  transition: 0.4s;
}
.headerChildDiv .msg{
  margin-left: 60px;
  width: 20px;
}
.headerChildDiv .msg i{
  color: white;
  font-size:25px;
  transition: 0.3s;
}
.headerChildDiv .msg i:hover{
  color: red;
}
.loginPage  {
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.loginPage a{
  color: white;
  text-decoration: none;
  width: 150px;
  font-size: 20px;
  transition: 0.3s;
}
.loginPage a:hover{
  color: red;
}
.loginPage img{
        border-radius: 50%;
        width: 38px;
        margin-right:10px ;
        height: 38px;
        transition: 0.1 ease;
}
.loginPage span{
color: white;
margin: 10px;
}

.Hlogout{
  width: 80px;
}
.Hlogout span{
  color: white;
  font-size: 20px;
  transition:  0.3s;
}
.Hlogout span:hover{
  color: red;
  transform: scale(1.1);
}
.sellMenu {
  position: relative;
  cursor: pointer;
  margin-left: 15px;
}


.sellMenu .sellMenuContent {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #002f34;
}
.sellMenu .sellMenuContent span {
  margin-left: 5px;
}

@media only screen and (max-width: 700px) {
  .placeSearch,
  .productSearch{
    display: none;
  }
}
.logout-span{
  cursor: pointer;
}

.dataResult-header {
    
  position: absolute;
  top: 60px;
  left: 85px;
   width: 16em;
   height: 150px;
   background-color: white;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   overflow: hidden;
   overflow-y: auto;
 }
 
 /* .dataResult-header::-webkit-scrollbar {
   display: none;
 } */
 
 .dataResult-header .dataItem-header {
   width: 100%;
   height: 30px;
   display: flex;
   align-items: center;
   color: black;
   font-size: smaller;
 }
 
 .dataItem-header p {
   margin-left: 10px;
 }

 
 .dataResult-header  :hover {
   background-color: #ebeeef;
 }
 .searchIcon{
  cursor: pointer;
 }